html{
	font-size: 62.5%!important;
}

body{
	font-family: 'Dosis', sans-serif;
	-webkit-background-size: cover;
	background-size: cover;
	background: rgb(245,234,228);
	background: rgb(245,234,228) url(../images/bg-cha1.png) no-repeat;
	background-attachment : fixed;
	background-position: bottom;
	color: #6D6C6C;
	font-size: 1.8rem;
}

.container{
	/*background: rgba(255,255,255,0.5);*/
	margin-top: 50px;
	padding: 20px !important;
	padding-bottom: 50px !important;
}

img{
	max-width: 100%;
}

h1{
	font-family: 'Chewy', cursive;
	/*background: rgba(255,255,255,0.6);*/
	/*padding: 10px 5px;*/
	margin-bottom: 20px;
	color: #fff;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
	font-size: 5rem !important;

}

h2{
	font-family: 'Chewy', cursive;
	text-align: center;
	color: #fff;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);

}

h3{
	font-family: 'Chewy', cursive;
	color: #fff;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
	
}

ul{
	padding: 0;
}

.bg-text{
	/*border: 1px solid #ccc;*/
	background: rgba(255,255,255,0.6);
	display: inline-block;
	padding: 0 10px;
	/*box-shadow: 5px 10px 8px #999999;*/
}

.login{
	max-width: 500px;
	margin: 50px auto;
	background: rgba(0,0,0,0.7);
	border-radius: 6px;
	padding: 10px;
}
/*--------------------------- navbar .................................*/
.logo .img-logo{
	height: 50px;
}

.navbar-fixed-top{
	/*padding-left: 20px;*/
	padding-right: 20px;
}

.nav{
	font-size: 1.4rem;
}

.navbar-brand{
	/*background: #fff;*/
	font-weight: bold;
	/*font-size: 1.8rem;*/
}

.navbar-default .navbar-brand{
	font-size: 2.2rem;
}

.navbar-right{
	padding-left: 15px;
}

/*----------------------------------------------------------------*/

.ui-dialog-titlebar-close{
	display: none;
}

.ui-widget-content .ui-dialog-content {
	background: #fff;
}

.ui-button{
	display: none;
}

/*.row{
	margin-left: 0;
	margin-right: 0;
}*/

.form-horizontal .form-group{
	margin-left: 0;
	margin-right: 0;
}

.footer{
	text-align: center;
	padding: 20px;
}

.scrollup{
    width:40px;
    height:50px;
    opacity:0.5;
    bottom:60px;
    position:fixed;
    right:30px;
    text-indent:-999px;
    background: url('http://i66.tinypic.com/6t3jba.png') no-repeat;
    display:none;
    cursor:pointer;
    z-index: 9999;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
}

.modal-content{
	background: #F5EAE4;
	border-radius: 0px;

}

.modal-title, .modal-body{
	background: #F5EAE4;
}

.modal-dialog{
	color: #55D88C;
}

.chat-box{
	background: rgba(255,255,255,0.6);
	box-shadow: 7px -2px 5px 0px rgba(50, 50, 50, 0.2);
	border-radius: 70px;
	position: relative;
	height: 600px;
	margin-top: 30px;
	margin-bottom: 100px;
	padding: 20px 15px;
}

.chat-box:before{
	content:"";
	position: absolute;
	bottom: 100%; 
	top: 600px; 
	right: 67%; 
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-left-width: 46px;
	border-right-width: 46px;
	border-top: 87px solid rgba(255,255,255,0.6);

}

.online{
	background: rgba(255,255,255,0.6);
	box-shadow: 7px -2px 5px 0px rgba(50, 50, 50, 0.2);
	border-radius: 100%;
	position: relative;
	height: 250px;
	margin-top: 30px;
	margin-bottom: 100px;
	padding: 20px 15px;

}

/*.list-message{
	overflow-y:scroll;

}*/

.message{
	margin: 10px;
	/*background: rgba(255,255,255,0.7);*/

}

.js_input.form-control{
	background: rgba(255,255,255,0.6);
}

.input-group{
	margin-bottom: 20px;

}

